
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}
h2{
    background-color: white;
    text-align: center;
    font-size: 5vw;
}
body{
    background-color: darkslateblue;
}
.box{
    margin: 2vh auto;
    border: 2px solid white;
    min-height: 20vh;
    height: fit-content;
    width: 30%;
    position: relative;
}
.label1{
    background-color: tomato;
    color: white;
    width: fit-content;
    padding: .5vh;
    position: absolute;
    top: 7vh;
    left: -4vh;
    padding: 1vh 2vh;
}
.label2{
    background-color: tomato;
    color: white;
    width: fit-content;
    padding: .5vh;
    position: absolute;
    top: 7vh;
    right: -5vh;
    padding: 1vh 2vh;
}
.score{
    border: 2px solid white;
    font-size: 3vw;
    color: white;
    width: fit-content;
    margin: 5vh auto;
    padding: 1vh;
}
#result{
    text-align: center;
    color: white;
    font-size: 2vw;
    margin: 2vw;
}

img{
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
    padding: .5vw;
}
img:hover{
    background-color: royalblue;
}
.images{
    text-align: center;
}
